src/en/news/index.pug
//- -------------------------------------------------------------------------------------------------
- var key = "news";
- var meta = "news-en-index"

include ../../include/_mixin.pug
- var rootPath = '../../'
- 
    var articles = [
        {
            date: '2020.04.16',
            title: 'Change of business hours for corona virus.',
            text: '2020.4.16.Thu. 〜 2020.5.6.Wed.<br>10:00 - 19:00',
            note: '',
        },
        {
            date: '2019.12.27',
            title: 'New Year holidays closing dates are as follows',
            text: '2019<br>○ 12.28.Sat.<br>× 12.29.Sun.<br>○ 12.30.Mon.<br>× 12.31.Tue<br><br>2020<br>× 1.1.Wed.<br>× 1.2.Thu<br>× 1.3.Fri.<br>× 1.4.Sat.<br>× 1.5.Sun<br>○ 1.6.Mun',
            note: '',
        },
        {
            date: '2019.08.09',
            title: 'O-bon holiday closing dates are as follows',
            text: '○ 8.10.Sat.<br>× 8.11.Sun.<br>× 8.12.Mon.<br>× 8.13.Tue<br>× 8.14.Wed.<br>× 8.15.Thu<br>○ 8.16.Fri.<br>○ 8.17.Sat.<br>× 8.18.Sun',
            note: '',
        },
        {
            date: '2019.04.16',
            title: 'GW closing dates are as follows',
            text: '○ 4.27.Sat.<br>× 4.28.Sun.<br>△ 4.29.Mon.<br>△ 4.30.Tue<br>△ 5.1.Wed.<br>△ 5.2.Thu<br>× 5.3.Fri.<br>× 5.4.Sat.<br>× 5.5.Sun<br>△ 5.6.Mon',
            note: '*GW = 4.27 ~ 5.6<br>*○ Open:8:30 ~ Close:19:30<br>*△ Open:8:30 ~ Close:18:00<br>*× CLOSE',
        },
        {
            date: '2019.03.22',
            title: '<a href="../index.html">English page is today available.</a>',
            text: '',
            note: '',
        },
        {
            date: '2019.03.20',
            title: '<a href="https://line.me/S/sticker/7038815" target="_blank">We made LINE stamp of store\'s mascot dog!</a>',
            text: '',
            note: '',
        },
        {
            date: '2019.03.11',
            title: '<a href="../price/index.html">Price List page is today available.</a>',
            text: '',
            note: '',
        },
        {
            date: '2019.03.10',
            title: 'Tsukuba Cleaning\'s website is today available.',
            text: '',
            note: '',
        },
    ];
//- -------------------------------------------------------------------------------------------------


//- -------------------------------------------------------------------------------------------------
doctype html
html(lang="ja")
    head
        
        include ../../include/_gtag.pug
        include ../../include/_head.pug
        include ../../include/_meta.pug
        
        // stylesheets
        link(rel="stylesheet" href=rootPath + "asset/css/" + (key) + ".css")

    body(class=key)
        .l-limit
            include ../../include/_en-header.pug


            //- Let's Enjoy Coding!!
            .l-container
                article.c-article
                    .l-frame
                        .l-frame--md
                            h1.c-h2(data-view="ttl"): span News
                            each article in articles
                                dl.t-news
                                    dt.t-news__date 
                                        h2 !{article.date}
                                    dd.t-news__content
                                        h3
                                            b !{article.title}
                                            span !{article.text}
                                            small !{article.note}
                
                article.c-article
                    .l-frame
                        .c-btn: a(href=rootPath + "en/index.html") Back to top page


            include ../../include/_en-footer.pug

        include ../../include/_scripts.pug
//- -------------------------------------------------------------------------------------------------

dest/en/news/index.html
<!DOCTYPE html>
<html lang="ja">
	<head>
		<!-- Global site tag (gtag.js) - Google Analytics -->
		<script async src="https://www.googletagmanager.com/gtag/js?id=UA-135973265-1"></script>
		<script>
		window.dataLayer = window.dataLayer || [];
		function gtag(){dataLayer.push(arguments);}
		gtag('js', new Date());
		
		gtag('config', 'UA-135973265-1');
		</script>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width">
		<meta name="format-detection" content="telephone=no">
		<meta name="robots" content="index,follow">
		<!-- main title-->
		<title>News | Tsukuba Cleaning | Established for 70 years, we are a local-based dry cleaning service. | Sangubashi, Yoyogi, Shibuya-ku</title>
		<!-- meta tags-->
		<meta name="keywords" content="Cleaning,Sangubashi,Yoyogi,Shibuya-ku,Tokyo,Business Shirt,Slacks,Skirt,Long Skirt,Blouse,Pants,Suit,Coat,Jacket,Dry cleaning">
		<meta name="description" content="Established for 70 years,　we are a local-based dry cleaning service in Sangubashi, Yoyogi, Shibuya-ku. News page. Articles. Hand-finished service, Express service, Repairs &amp; Alterations. Nearest stations are 'Sangubashi Station', 'Hatsudai Station', 'Yoyogi Station'. Nearby facilities are 'National Olympics Memorial Youth Center', 'Tokyo Opera City', 'Bunka Fashion College', 'Meiji Jingu'. Business Shirt, Slacks, Skirt, Long Skirt, Blouse, Pants, Suit, Coat, Jacket and so on.">
		<meta property="og:title" content="News | Tsukuba Cleaning | Established for 70 years, we are a local-based dry cleaning service. | Sangubashi, Yoyogi, Shibuya-ku">
		<meta property="og:type" content="website">
		<meta property="og:image" content="https://tsukuba-cleaning.com/image/og.png">
		<meta property="og:url" content="https://tsukuba-cleaning.com/en/news/">
		<meta property="og:description" content="Established for 70 years,　we are a local-based dry cleaning service in Sangubashi, Yoyogi, Shibuya-ku. Price List page. Hand-finished service, Express service, Repairs &amp; Alterations. Nearest stations are 'Sangubashi Station', 'Hatsudai Station', 'Yoyogi Station'. Nearby facilities are 'National Olympics Memorial Youth Center', 'Tokyo Opera City', 'Bunka Fashion College', 'Meiji Jingu'. Business Shirt, Slacks, Skirt, Long Skirt, Blouse, Pants, Suit, Coat, Jacket and so on.">
		<!-- favicon-->
		<link rel="shortcut icon" href="../../favicon.ico" type="image/x-icon">
		<!-- google fonts-->
		<link href="https://fonts.googleapis.com/css?family=Noto+Sans+JP:400,700|Roboto:400,700" rel="stylesheet">
		<!-- stylesheets-->
		<link rel="stylesheet" href="../../asset/css/news.css">
	</head>
	<body class="news">
		<div class="l-limit">
			<div class="l-header">
				<h1 class="l-header__logo c-h1"><a href="../../.">TSUKUBA CLEANING</a></h1>
				<div class="l-header__btn--cover">
					<div class="l-header__btn"><span></span></div>
				</div>
				<div class="l-header__gnav">
					<div class="l-nav">
						<ul class="l-nav__ul">
							<li class="l-nav__ul__item"><a href="../../en/index.html" data-page>Home</a></li>
							<li class="l-nav__ul__item"><a href="../../en/index.html#hello" data-page>Greetings</a></li>
							<li class="l-nav__ul__item"><a href="../../en/index.html#case" data-page>Services</a></li>
							<li class="l-nav__ul__item"><a href="../../en/index.html#accent" data-page>Notes</a></li>
							<li class="l-nav__ul__item"><a href="../../en/index.html#access" data-page>Access / Business Hours</a></li>
							<li class="l-nav__ul__item" data-index="price"><a href="../../en/price/index.html">Price List</a></li>
							<li class="l-nav__ul__item" data-index="news"><a href="../../en/news/index.html">News</a></li>
						</ul>
					</div>
					<div class="l-header__laungage">
						<div class="l-header__laungage__btn c-btn"><a href="../../index.html">Japanese</a></div>
					</div>
				</div>
			</div>
			<div class="l-container">
				<article class="c-article">
					<div class="l-frame">
						<div class="l-frame--md">
							<h1 class="c-h2" data-view="ttl"><span>News</span></h1>
							<dl class="t-news">
								<dt class="t-news__date"> 
									<h2>2020.04.16</h2>
								</dt>
								<dd class="t-news__content">
									<h3><b>Change of business hours for corona virus.</b><span>2020.4.16.Thu. 〜 2020.5.6.Wed.<br>10:00 - 19:00</span><small></small></h3>
								</dd>
							</dl>
							<dl class="t-news">
								<dt class="t-news__date"> 
									<h2>2019.12.27</h2>
								</dt>
								<dd class="t-news__content">
									<h3><b>New Year holidays closing dates are as follows</b><span>2019<br>○ 12.28.Sat.<br>× 12.29.Sun.<br>○ 12.30.Mon.<br>× 12.31.Tue<br><br>2020<br>× 1.1.Wed.<br>× 1.2.Thu<br>× 1.3.Fri.<br>× 1.4.Sat.<br>× 1.5.Sun<br>○ 1.6.Mun</span><small></small></h3>
								</dd>
							</dl>
							<dl class="t-news">
								<dt class="t-news__date"> 
									<h2>2019.08.09</h2>
								</dt>
								<dd class="t-news__content">
									<h3><b>O-bon holiday closing dates are as follows</b><span>○ 8.10.Sat.<br>× 8.11.Sun.<br>× 8.12.Mon.<br>× 8.13.Tue<br>× 8.14.Wed.<br>× 8.15.Thu<br>○ 8.16.Fri.<br>○ 8.17.Sat.<br>× 8.18.Sun</span><small></small></h3>
								</dd>
							</dl>
							<dl class="t-news">
								<dt class="t-news__date"> 
									<h2>2019.04.16</h2>
								</dt>
								<dd class="t-news__content">
									<h3><b>GW closing dates are as follows</b><span>○ 4.27.Sat.<br>× 4.28.Sun.<br>△ 4.29.Mon.<br>△ 4.30.Tue<br>△ 5.1.Wed.<br>△ 5.2.Thu<br>× 5.3.Fri.<br>× 5.4.Sat.<br>× 5.5.Sun<br>△ 5.6.Mon</span><small>*GW = 4.27 ~ 5.6<br>*○ Open:8:30 ~ Close:19:30<br>*△ Open:8:30 ~ Close:18:00<br>*× CLOSE</small></h3>
								</dd>
							</dl>
							<dl class="t-news">
								<dt class="t-news__date"> 
									<h2>2019.03.22</h2>
								</dt>
								<dd class="t-news__content">
									<h3><b><a href="../index.html">English page is today available.</a></b><span></span><small></small></h3>
								</dd>
							</dl>
							<dl class="t-news">
								<dt class="t-news__date"> 
									<h2>2019.03.20</h2>
								</dt>
								<dd class="t-news__content">
									<h3><b><a href="https://line.me/S/sticker/7038815" target="_blank">We made LINE stamp of store's mascot dog!</a></b><span></span><small></small></h3>
								</dd>
							</dl>
							<dl class="t-news">
								<dt class="t-news__date"> 
									<h2>2019.03.11</h2>
								</dt>
								<dd class="t-news__content">
									<h3><b><a href="../price/index.html">Price List page is today available.</a></b><span></span><small></small></h3>
								</dd>
							</dl>
							<dl class="t-news">
								<dt class="t-news__date"> 
									<h2>2019.03.10</h2>
								</dt>
								<dd class="t-news__content">
									<h3><b>Tsukuba Cleaning's website is today available.</b><span></span><small></small></h3>
								</dd>
							</dl>
						</div>
					</div>
				</article>
				<article class="c-article">
					<div class="l-frame">
						<div class="c-btn"><a href="../../en/index.html">Back to top page</a></div>
					</div>
				</article>
			</div>
			<div class="l-footer">
				<div class="l-footer__bunner">
					<div class="l-footer__bunner__btn"><a href="../../en/price/index.html">Price List page</a></div>
					<div class="l-footer__bunner__btn"><a href="../../en/news/index.html">News Page</a></div>
				</div>
				<div class="l-footer__language"><a href="../../index.html">Japanese</a></div>
				<p class="l-footer__copyright"><small>&copy; 2019 Tsukuba Cleaning. ツクバクリーニング</small></p>
			</div>
		</div>
		<script src="../../asset/js/min/jquery-3.1.1.min.js"></script>
		<script src="../../asset/js/min/velocity.min.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/vue"></script>
		<script src="../../asset/js/common.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.0.2/TweenMax.min.js"></script>
	</body>
</html>
