src/price/index.pug
//- -------------------------------------------------------------------------------------------------
- var key = "price";
- var meta = "price-index"

include ../include/_mixin.pug
- var rootPath = '../'
//- -------------------------------------------------------------------------------------------------


//- -------------------------------------------------------------------------------------------------
doctype html
html(lang="ja")
    head
        
        include ../include/_gtag.pug
        include ../include/_head.pug
        include ../include/_meta.pug
        
        // stylesheets
        link(rel="stylesheet" href=rootPath + "asset/css/" + (key) + ".css")

    body(class=key)
        .l-limit
            include ../include/_header.pug


            //- Let's Enjoy Coding!!
            .l-container
                article.c-article
                    .l-frame
                        h1.c-h2: span 料金表
                        table.t-table
                            tr.t-table__heading
                                th.t-table__heading__name 品名
                                th 通常
                                th お急ぎ
                                th デラックス
                            - 
                                var prices = [
                                    {
                                        name: 'Yシャツ',
                                        price01: '240円~',
                                        price02: '440円~',
                                        price03: '500円~',
                                    },
                                    {
                                        name: 'スラックス',
                                        price01: '600円~',
                                        price02: '800円~',
                                        price03: '1,000円~',
                                    },
                                    {
                                        name: 'スカート',
                                        price01: '600円~',
                                        price02: '800円~',
                                        price03: '1,000円~',
                                    },
                                    {
                                        name: 'ロングスカート',
                                        price01: '800円~',
                                        price02: '-',
                                        price03: '-',
                                    },
                                    {
                                        name: 'ブラウス',
                                        price01: '600円~',
                                        price02: '800円~',
                                        price03: '1,000円~',
                                    },
                                ];
                            each price in prices
                                tr
                                    td.t-table__heading__name #{price.name}
                                    td #{price.price01}
                                    td #{price.price02}
                                    td #{price.price03}
                        p.c-note ※記載してあるのは基本情報のみです、その他商品は店頭にてご確認くださいませ。
                            br
                            |※1枚あたりの値段です。
                            br
                            |※税抜き価格での表示です。
                
                article.c-article
                    .l-frame
                        .c-btn: a(href=rootPath + "index.html") トップページへ戻る


            include ../include/_footer.pug

        include ../include/_scripts.pug
//- -------------------------------------------------------------------------------------------------

dest/en/price/index.html
<!DOCTYPE html>
<html lang="ja">
	<head>
		<!-- Global site tag (gtag.js) - Google Analytics -->
		<script async src="https://www.googletagmanager.com/gtag/js?id=UA-135973265-1"></script>
		<script>
		window.dataLayer = window.dataLayer || [];
		function gtag(){dataLayer.push(arguments);}
		gtag('js', new Date());
		
		gtag('config', 'UA-135973265-1');
		</script>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width">
		<meta name="format-detection" content="telephone=no">
		<meta name="robots" content="index,follow">
		<!-- main title-->
		<title>Price List | Tsukuba Cleaning | Established for 70 years, we are a local-based dry cleaning service. | Sangubashi, Yoyogi, Shibuya-ku</title>
		<!-- meta tags-->
		<meta name="keywords" content="Cleaning,Sangubashi,Yoyogi,Shibuya-ku,Tokyo,Business Shirt,Slacks,Skirt,Long Skirt,Blouse,Pants,Suit,Coat,Jacket,Dry cleaning">
		<meta name="description" content="Established for 70 years,　we are a local-based dry cleaning service in Sangubashi, Yoyogi, Shibuya-ku. Price List page. Hand-finished service, Express service, Repairs &amp; Alterations. Nearest stations are 'Sangubashi Station', 'Hatsudai Station', 'Yoyogi Station'. Nearby facilities are 'National Olympics Memorial Youth Center', 'Tokyo Opera City', 'Bunka Fashion College', 'Meiji Jingu'. Business Shirt, Slacks, Skirt, Long Skirt, Blouse, Pants, Suit, Coat, Jacket and so on.">
		<meta property="og:title" content="Price List | Tsukuba Cleaning | Established for 70 years, we are a local-based dry cleaning service. | Sangubashi, Yoyogi, Shibuya-ku">
		<meta property="og:type" content="website">
		<meta property="og:image" content="https://tsukuba-cleaning.com/image/og.png">
		<meta property="og:url" content="https://tsukuba-cleaning.com/en/price/">
		<meta property="og:description" content="Established for 70 years,　we are a local-based dry cleaning service in Sangubashi, Yoyogi, Shibuya-ku. Price List page. Hand-finished service, Express service, Repairs &amp; Alterations. Nearest stations are 'Sangubashi Station', 'Hatsudai Station', 'Yoyogi Station'. Nearby facilities are 'National Olympics Memorial Youth Center', 'Tokyo Opera City', 'Bunka Fashion College', 'Meiji Jingu'. Business Shirt, Slacks, Skirt, Long Skirt, Blouse, Pants, Suit, Coat, Jacket and so on.">
		<!-- favicon-->
		<link rel="shortcut icon" href="../../favicon.ico" type="image/x-icon">
		<!-- google fonts-->
		<link href="https://fonts.googleapis.com/css?family=Noto+Sans+JP:400,700|Roboto:400,700" rel="stylesheet">
		<!-- stylesheets-->
		<link rel="stylesheet" href="../../asset/css/price.css">
	</head>
	<body class="price">
		<div class="l-limit">
			<div class="l-header">
				<h1 class="l-header__logo c-h1"><a href="../../.">TSUKUBA CLEANING</a></h1>
				<div class="l-header__btn--cover">
					<div class="l-header__btn"><span></span></div>
				</div>
				<div class="l-header__gnav">
					<div class="l-nav">
						<ul class="l-nav__ul">
							<li class="l-nav__ul__item"><a href="../../en/index.html" data-page>Home</a></li>
							<li class="l-nav__ul__item"><a href="../../en/index.html#hello" data-page>Greetings</a></li>
							<li class="l-nav__ul__item"><a href="../../en/index.html#case" data-page>Services</a></li>
							<li class="l-nav__ul__item"><a href="../../en/index.html#accent" data-page>Notes</a></li>
							<li class="l-nav__ul__item"><a href="../../en/index.html#access" data-page>Access / Business Hours</a></li>
							<li class="l-nav__ul__item" data-index="price"><a href="../../en/price/index.html">Price List</a></li>
							<li class="l-nav__ul__item" data-index="news"><a href="../../en/news/index.html">News</a></li>
						</ul>
					</div>
					<div class="l-header__laungage">
						<div class="l-header__laungage__btn c-btn"><a href="../../index.html">Japanese</a></div>
					</div>
				</div>
			</div>
			<div class="l-container">
				<article class="c-article">
					<div class="l-frame">
						<h1 class="c-h2"><span>Price List</span></h1>
						<table class="t-table">
							<tr class="t-table__heading">
								<th class="t-table__heading__name">Item</th>
								<th>Normal</th>
								<th>Express</th>
								<th>Deluxe</th>
							</tr>
							<tr>
								<td class="t-table__heading__name">Business Shirt</td>
								<td>240円~</td>
								<td>440円~</td>
								<td>500円~</td>
							</tr>
							<tr>
								<td class="t-table__heading__name">Slacks</td>
								<td>600円~</td>
								<td>800円~</td>
								<td>1,000円~</td>
							</tr>
							<tr>
								<td class="t-table__heading__name">Skirt</td>
								<td>600円~</td>
								<td>800円~</td>
								<td>1,000円~</td>
							</tr>
							<tr>
								<td class="t-table__heading__name">Long Skirt</td>
								<td>800円~</td>
								<td>-</td>
								<td>-</td>
							</tr>
							<tr>
								<td class="t-table__heading__name">Blouse</td>
								<td>600円~</td>
								<td>800円~</td>
								<td>1,000円~</td>
							</tr>
						</table>
						<p class="c-note">*Item listed are general information, please check the service price of the other products at the store.<br>*Price listed are price per piece.<br>*Price are subject to tax.</p>
					</div>
				</article>
				<article class="c-article">
					<div class="l-frame">
						<div class="c-btn"><a href="../../en/index.html">Back to top page</a></div>
					</div>
				</article>
			</div>
			<div class="l-footer">
				<div class="l-footer__bunner">
					<div class="l-footer__bunner__btn"><a href="../../en/price/index.html">Price List page</a></div>
					<div class="l-footer__bunner__btn"><a href="../../en/news/index.html">News Page</a></div>
				</div>
				<div class="l-footer__language"><a href="../../index.html">Japanese</a></div>
				<p class="l-footer__copyright"><small>&copy; 2019 Tsukuba Cleaning. ツクバクリーニング</small></p>
			</div>
		</div>
		<script src="../../asset/js/min/jquery-3.1.1.min.js"></script>
		<script src="../../asset/js/min/velocity.min.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/vue"></script>
		<script src="../../asset/js/common.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.0.2/TweenMax.min.js"></script>
	</body>
</html>
