dest/index.html
<!DOCTYPE html>
<html lang="ja">
	<head>
		<!-- Global site tag (gtag.js) - Google Analytics -->
		<script async src="https://www.googletagmanager.com/gtag/js?id=UA-135973265-1"></script>
		<script>
		window.dataLayer = window.dataLayer || [];
		function gtag(){dataLayer.push(arguments);}
		gtag('js', new Date());
		
		gtag('config', 'UA-135973265-1');
		</script>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width">
		<meta name="format-detection" content="telephone=no">
		<meta name="robots" content="index,follow">
		<!-- main title-->
		<title>ツクバクリーニング 参宮橋駅周辺 | 創業70年地域密着型のクリーニング店 | 参宮橋、代々木、渋谷区</title>
		<!-- meta tags-->
		<meta name="keywords" content="クリーニング,洗濯,参宮橋,代々木,渋谷区,洗濯,ドライ,ワイシャツ,ジャケット,スカート,コート,ズボン,ダウン,地域密着型">
		<meta name="description" content="創業70年。代々木（参宮橋）のツクバクリーニング。参宮橋駅周辺。トップページ。手仕上げ、お急ぎ、お直し対応致します。最寄り駅は参宮橋駅、初台駅、代々木駅。国立オリンピック記念青少年総合センター、東京オペラシティ、文化服装学院、明治神宮が周辺施設。ワイシャツ、パンツ、スーツ、スカート、コート、ダウンなどその他多くの種類を扱うクリーニング店。">
		<meta property="og:title" content="ツクバクリーニング 参宮橋駅周辺 | 創業70年地域密着型のクリーニング店 | 参宮橋、代々木、渋谷区">
		<meta property="og:type" content="website">
		<meta property="og:image" content="https://tsukuba-cleaning.com/image/og.png">
		<meta property="og:url" content="https://tsukuba-cleaning.com">
		<meta property="og:description" content="創業70年。代々木（参宮橋）のツクバクリーニング。トップページ。手仕上げ、お急ぎ、お直し対応致します。最寄り駅は参宮橋駅、初台駅、代々木駅。国立オリンピック記念青少年総合センター、東京オペラシティ、文化服装学院、明治神宮が周辺施設。ワイシャツ、パンツ、スーツ、スカート、コート、ダウンなどその他多くの種類を扱うクリーニング店。">
		<!-- favicon-->
		<link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
		<!-- google fonts-->
		<link href="https://fonts.googleapis.com/css?family=Noto+Sans+JP:400,700|Roboto:400,700" rel="stylesheet">
		<!-- stylesheets-->
		<link rel="stylesheet" href="asset/css/home.css">
	</head>
	<body class="home">
		<div class="l-limit">
			<header class="l-header">
				<p class="l-header__logo c-h1"><a href=".">TSUKUBA CLEANING</a></p>
				<div class="l-header__btn--cover">
					<div class="l-header__btn"><span></span></div>
				</div>
				<nav class="l-header__gnav">
					<div class="l-nav">
						<ul class="l-nav__ul">
							<li class="l-nav__ul__item"><a href="index.html" data-page>ホーム</a></li>
							<li class="l-nav__ul__item"><a href="index.html#hello" data-page>ご挨拶</a></li>
							<li class="l-nav__ul__item"><a href="index.html#case" data-page>特色</a></li>
							<li class="l-nav__ul__item"><a href="index.html#accent" data-page>ご注意</a></li>
							<li class="l-nav__ul__item"><a href="index.html#access" data-page>アクセス・営業時間</a></li>
							<li class="l-nav__ul__item" data-index="price"><a href="price/index.html" data-price>料金表</a></li>
							<li class="l-nav__ul__item" data-index="news"><a href="news/index.html" data-news>ニュース</a></li>
						</ul>
					</div>
					<div class="l-header__laungage">
						<div class="l-header__laungage__btn c-btn"><a href="en/index.html">English</a></div>
					</div>
				</nav>
			</header>
			<main class="l-container" id="app">
				<div class="t-hero">
					<div class="t-hero__inner">
						<h1 class="t-hero__inner__logo" data-loaded="1"><img src="image/logo.png" alt="ツクバクリーニング。渋谷区代々木参宮橋。参宮橋駅周辺"></h1>
						<h2 class="t-hero__inner__lead" data-loaded="2">創業70年、地域に密着したお店です。<br>「手仕上げ・お急ぎ・お直し・配達」<br>可能な限り良い状態までクリーニングいたします。</h2>
						<ul class="t-hero__inner__link" data-loaded="3">
							<li class="c-btn"><a href="price/index.html">料金表ページ</a></li>
							<li class="c-btn"><a href="news/index.html">ニュース</a></li>
						</ul>
					</div>
					<div class="t-news" data-loaded="4">
						<div class="l-frame">
							<div class="t-news__ticker" rel="roll">
								<table class="t-news__ticker__table">
									<tr>
										<th>2020/04/16</th>
										<td> <a href="news/index.html">【重要】コロナウイルス感染症拡大防止に伴う営業時間の変更</a></td>
									</tr>
									<tr>
										<th>2019/12/27</th>
										<td> <a href="news/index.html">年末年始の日程を記載しました。</a></td>
									</tr>
									<tr>
										<th>2019/08/09</th>
										<td> <a href="news/index.html">お盆休み日程を記載しました。</a></td>
									</tr>
									<tr>
										<th>2019/04/16</th>
										<td> <a href="news/index.html">ニュースページ公開しました。GWの営業日程を記載しました。</a></td>
									</tr>
									<tr>
										<th>2019/03/22</th>
										<td> <a href="en/index.html">英語ページを公開しました。English page is today available.</a></td>
									</tr>
									<tr>
										<th>2019/03/20</th>
										<td> <a href="https://line.me/S/sticker/7038815" target="_blank">LINEスタンプ作りました！</a></td>
									</tr>
									<tr>
										<th>2019/03/11</th>
										<td> <a href="price/index.html">料金表ページ開設しました。</a></td>
									</tr>
									<tr>
										<th>2019/03/10</th>
										<td>ツクバクリーニングのホームページを公開しました。</td>
									</tr>
								</table>
							</div>
						</div>
					</div>
				</div>
				<article class="c-article" id="hello">
					<div class="l-frame">
						<div class="t-hello">
							<h3 class="c-h2" data-view="ttl"><span>ご挨拶</span></h3>
							<p class="t-hello__message" data-view="up">この度はツクバクリーニングのホームページへ<br class="u-hidden-sp">お越しいただき誠にありがとうございます。<br class="u-hidden-sp">代々木参宮橋の地域密着型クリーニング店を営んでおります。</p>
						</div>
					</div>
				</article>
				<article class="c-article">
					<div class="c-article__image"><img class="u-hidden-sp" src="image/img_01_pc.jpg" alt=""><img class="u-hidden-pc" src="image/img_01_sp.jpg" alt=""></div>
				</article>
				<article class="c-article" id="case">
					<div class="l-frame">
						<h3 class="c-h2" data-view="ttl"><span>特色</span></h3>
						<ul class="t-case">
							<li class="t-case__item">
								<h4 class="c-h3" data-view="up">手仕上げ</h4>
								<div class="t-case__item__icon"><img src="image/icon_01.png" alt="" data-view="scale"></div>
								<p class="c-p" data-view="up">創業７０年、地域に密着したお店です。お預かりした品物を１点１点丁寧に手仕上げしております。またシミ抜き、お直しもお気軽にご相談ください。</p>
								<p class="c-note" data-view="up"></p>
							</li>
							<li class="t-case__item">
								<h4 class="c-h3" data-view="up">お急ぎ</h4>
								<div class="t-case__item__icon"><img src="image/icon_02.png" alt="" data-view="scale"></div>
								<p class="c-p" data-view="up">ドライクリーニングのお品物は、朝いただいて夕方お渡しできます。<br>Yシャツは通常は頂いた日から、中1日でお渡しいたします。</p>
								<p class="c-note" data-view="up">※お昼までにお持ちください。<br>※お急ぎはプラス200円で当日お渡しいたします。</p>
							</li>
							<li class="t-case__item">
								<h4 class="c-h3" data-view="up">お直し</h4>
								<div class="t-case__item__icon"><img src="image/icon_03.png" alt="" data-view="scale"></div>
								<p class="c-p" data-view="up">ズボン、スカートの丈つめ、ウエスト直しなど致します。1週間を要します。</p>
								<p class="c-note" data-view="up"></p>
							</li>
							<li class="t-case__item">
								<h4 class="c-h3" data-view="up">配達</h4>
								<div class="t-case__item__icon"><img src="image/icon_04.png" alt="" data-view="scale"></div>
								<p class="c-p" data-view="up">カーテン、毛布、羽毛布団、カーペットや衣替えのなどの季節のクリーニングの集配いたします。</p>
								<p class="c-note" data-view="up"></p>
							</li>
						</ul>
						<div class="l-frame--sm">
							<div class="t-group js-inview">
								<div class="t-group__icon"><img src="image/icon_05.png" alt="" data-view="scale"></div>
								<div class="t-group__textbox" data-view="up">
									<h4 class="c-h3 u-left">企業向け</h4>
									<p class="c-p">作業着や制服などクリーニング対応しております。数や品物、料金、納期などのご確認する必要がございますので一度ご相談の上、承らせて頂きます。</p>
								</div>
							</div>
						</div>
					</div>
				</article>
				<article class="c-article" id="accent">
					<div class="u-bg--accent">
						<div class="l-frame">
							<div class="l-frame--sm">
								<div class="t-emphasis">
									<h3 class="c-h2" data-view="ttl"><span>ご注意</span></h3>
									<ul class="t-emphasis__list" data-view="up">
										<li class="t-emphasis__list__item">高額のお品物に、革製品などはご相談ください。商品の状態によってはお断りさせていいただく場合がございますのでご了承くださいませ。</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</article>
				<article class="c-article" id="access">
					<div class="l-frame">
						<div class="l-frame--md">
							<h3 class="c-h2" data-view="ttl"><span>アクセス・営業時間</span></h3>
							<div class="t-access l-col l-col--rr">
								<table class="t-access__table" data-view="up">
									<tr>
										<th>住所</th>
										<td>東京都渋谷区代々木4-20-2</td>
									</tr>
									<tr>
										<th>最寄り駅</th>
										<td>「参宮橋駅」徒歩2分<br>「初台駅」徒歩6分<br>「代々木駅」徒歩12分</td>
									</tr>
									<tr>
										<th>定休日</th>
										<td>日・祝日</td>
									</tr>
									<tr>
										<th>営業時間</th>
										<td> 
											<del>8:30 - 19:30</del><br>10:00 - 19:00<br><a href="news/">コロナ期間中の営業時間変更の詳細はこちらから</a>
										</td>
									</tr>
									<tr>
										<th>電話番号</th>
										<td>03-3370-1928</td>
									</tr>
									<tr>
										<th>周辺施設</th>
										<td>国立オリンピック記念青少年総合センター<br>東京オペラシティ<br>文化服装学院<br>明治神宮</td>
									</tr>
								</table>
								<div class="t-access__map" data-view="up">
									<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3240.8884523335973!2d139.68934861491041!3d35.67974853766133!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x60188cccb10b540f%3A0x26688eae4c5b2f20!2z44CSMTUxLTAwNTMg5p2x5Lqs6YO95riL6LC35Yy65Luj44CF5pyo77yU5LiB55uu77yS77yQ4oiS77yS!5e0!3m2!1sja!2sjp!4v1551346346050" frameborder="0" style="border:0" allowfullscreen></iframe>
									
									
								</div>
							</div>
						</div>
					</div>
				</article>
				<article class="c-article">
					<div class="l-frame">
						<h3 class="c-h2" data-view="ttl"><span>LINE STAMP</span></h3>
						<div class="t-stamp" data-view="up"><a href="https://line.me/S/sticker/7038815" target="_blank">
								<div class="t-stamp__image"><img src="image/img_linestamp.png" alt=""></div>
								<div class="t-stamp__title">
									<p>愛犬あんこさんスタンプ<br><span>120円</span></p>
								</div></a>
							<p class="c-p">看板犬でもあるトイプードルのあんこさんでLINEスタンプを作りました！スタンプショップは上のバナーより飛ぶことができます。</p>
						</div>
					</div>
				</article>
				<article class="c-article">
					<div class="c-article__image"><img class="u-hidden-sp" src="image/img_02_pc.jpg" alt=""><img class="u-hidden-pc" src="image/img_02_sp.jpg" alt="">
						<p class="c-article__image__catch">ご来店心より<br class="u-hidden-pc">お待ちしております。</p>
					</div>
				</article>
			</main>
			<footer class="l-footer">
				<div class="l-footer__bunner">
					<div class="l-footer__bunner__btn"><a href="price/index.html">料金表ページを見る</a></div>
					<div class="l-footer__bunner__btn"><a href="news/index.html">ニュースページを見る</a></div>
				</div>
				<div class="l-footer__language"><a href="en/index.html">English</a></div>
				<p class="l-footer__copyright"><small>&copy; 2019 ツクバクリーニング</small></p>
			</footer>
		</div>
		<script src="asset/js/min/jquery-3.1.1.min.js"></script>
		<script src="asset/js/min/velocity.min.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/vue"></script>
		<script src="asset/js/common.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.0.2/TweenMax.min.js"></script>
		<script src="asset/js/home.js"></script>
	</body>
</html>

src/index.pug
//- -------------------------------------------------------------------------------------------------
- var key = "home";
- var meta = "home-index"

include /include/_mixin.pug
- var rootPath = ''
- 
    var contents = [
        {
                title: '手仕上げ',
                image: 'image/icon_01.png',
                text: '創業７０年、地域に密着したお店です。お預かりした品物を１点１点丁寧に手仕上げしております。またシミ抜き、お直しもお気軽にご相談ください。',
                note: '',
            },
            {
                title: 'お急ぎ',
                image: 'image/icon_02.png',
                text: 'ドライクリーニングのお品物は、朝いただいて夕方お渡しできます。<br>Yシャツは通常は頂いた日から、中1日でお渡しいたします。',
                note: '※お昼までにお持ちください。<br>※お急ぎはプラス200円で当日お渡しいたします。',
            },
            {
                title: 'お直し',
                image: 'image/icon_03.png',
                text: 'ズボン、スカートの丈つめ、ウエスト直しなど致します。1週間を要します。',
                note: '',
            },
            {
                title: '配達',
                image: 'image/icon_04.png',
                text: 'カーテン、毛布、羽毛布団、カーペットや衣替えのなどの季節のクリーニングの集配いたします。',
                note: '',
            },
    ]
//- -------------------------------------------------------------------------------------------------


//- -------------------------------------------------------------------------------------------------
doctype html
html(lang="ja")
    head
        
        include include/_gtag.pug
        include include/_head.pug
        include include/_meta.pug
        
        // stylesheets
        link(rel="stylesheet" href=rootPath + "asset/css/" + (key) + ".css")

    body(class=key)
        .l-limit
            include include/_header.pug


            //- Let's Enjoy Coding!!
            main.l-container#app
                .t-hero
                    .t-hero__inner
                        h1.t-hero__inner__logo(data-loaded="1"): img(src="image/logo.png", alt="ツクバクリーニング。渋谷区代々木参宮橋。参宮橋駅周辺")
                        h2.t-hero__inner__lead(data-loaded="2") 創業70年、地域に密着したお店です。
                            br
                            |「手仕上げ・お急ぎ・お直し・配達」
                            br
                            |可能な限り良い状態までクリーニングいたします。
                        ul.t-hero__inner__link(data-loaded="3")
                            li.c-btn: a(href="price/index.html") 料金表ページ
                            li.c-btn: a(href="news/index.html") ニュース

                    .t-news(data-loaded="4")
                        .l-frame
                            .t-news__ticker(rel="roll")
                                table.t-news__ticker__table
                                    tr
                                        th 2020/04/16
                                        td 
                                            a(href="news/index.html") 【重要】コロナウイルス感染症拡大防止に伴う営業時間の変更
                                    tr
                                        th 2019/12/27
                                        td 
                                            a(href="news/index.html") 年末年始の日程を記載しました。
                                    tr
                                        th 2019/08/09
                                        td 
                                            a(href="news/index.html") お盆休み日程を記載しました。
                                    tr
                                        th 2019/04/16
                                        td 
                                            a(href="news/index.html") ニュースページ公開しました。GWの営業日程を記載しました。
                                    tr
                                        th 2019/03/22
                                        td 
                                            a(href=rootPath + "en/index.html") 英語ページを公開しました。English page is today available.
                                    tr
                                        th 2019/03/20
                                        td 
                                            a(href="https://line.me/S/sticker/7038815", target="_blank") LINEスタンプ作りました！
                                    tr
                                        th 2019/03/11
                                        td 
                                            a(href="price/index.html") 料金表ページ開設しました。
                                    tr
                                        th 2019/03/10
                                        td ツクバクリーニングのホームページを公開しました。


                article.c-article#hello
                    .l-frame
                        .t-hello
                            h3.c-h2(data-view="ttl"): span ご挨拶
                            p.t-hello__message(data-view="up") この度はツクバクリーニングのホームページへ
                                br.u-hidden-sp
                                |お越しいただき誠にありがとうございます。
                                br.u-hidden-sp
                                |代々木参宮橋の地域密着型クリーニング店を営んでおります。


                article.c-article
                    .c-article__image
                        img.u-hidden-sp(src="image/img_01_pc.jpg", alt="")
                        img.u-hidden-pc(src="image/img_01_sp.jpg", alt="")


                article.c-article#case
                    .l-frame
                        h3.c-h2(data-view="ttl"): span 特色
                        ul.t-case
                            each content in contents
                                li.t-case__item
                                    h4.c-h3(data-view="up") !{content.title}
                                    .t-case__item__icon: img(src=content.image, alt="", data-view="scale")
                                    p.c-p(data-view="up") !{content.text}
                                    p.c-note(data-view="up") !{content.note}

                        .l-frame--sm
                            .t-group.js-inview
                                .t-group__icon: img(src="image/icon_05.png", alt="", data-view="scale")
                                .t-group__textbox(data-view="up")
                                    h4.c-h3.u-left 企業向け
                                    p.c-p 作業着や制服などクリーニング対応しております。数や品物、料金、納期などのご確認する必要がございますので一度ご相談の上、承らせて頂きます。


                article.c-article#accent
                    .u-bg--accent
                        .l-frame
                            .l-frame--sm
                                .t-emphasis
                                    h3.c-h2(data-view="ttl"): span ご注意
                                    ul.t-emphasis__list(data-view="up")
                                        li.t-emphasis__list__item 高額のお品物に、革製品などはご相談ください。商品の状態によってはお断りさせていいただく場合がございますのでご了承くださいませ。


                article.c-article#access
                    .l-frame
                        .l-frame--md
                            h3.c-h2(data-view="ttl"): span アクセス・営業時間
                            .t-access.l-col.l-col--rr
                                table.t-access__table(data-view="up")
                                    tr
                                        th 住所
                                        td 東京都渋谷区代々木4-20-2
                                    tr
                                        th 最寄り駅
                                        td 「参宮橋駅」徒歩2分
                                            br
                                            |「初台駅」徒歩6分
                                            br
                                            |「代々木駅」徒歩12分
                                    tr
                                        th 定休日
                                        td 日・祝日
                                    tr
                                        th 営業時間
                                        td 
                                            del 8:30 - 19:30
                                            br
                                            | 10:00 - 19:00
                                            br
                                            a(href="news/") コロナ期間中の営業時間変更の詳細はこちらから
                                    tr
                                        th 電話番号
                                        td 03-3370-1928
                                    tr
                                        th 周辺施設
                                        td 国立オリンピック記念青少年総合センター
                                            br
                                            |東京オペラシティ
                                            br
                                            |文化服装学院
                                            br
                                            |明治神宮
                                .t-access__map(data-view="up")
                                    .
                                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3240.8884523335973!2d139.68934861491041!3d35.67974853766133!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x60188cccb10b540f%3A0x26688eae4c5b2f20!2z44CSMTUxLTAwNTMg5p2x5Lqs6YO95riL6LC35Yy65Luj44CF5pyo77yU5LiB55uu77yS77yQ4oiS77yS!5e0!3m2!1sja!2sjp!4v1551346346050" frameborder="0" style="border:0" allowfullscreen></iframe>


                article.c-article
                    .l-frame
                        h3.c-h2(data-view="ttl"): span LINE STAMP
                        .t-stamp(data-view="up")
                            a(href="https://line.me/S/sticker/7038815", target="_blank")
                                .t-stamp__image: img(src="image/img_linestamp.png", alt="")
                                .t-stamp__title: p 愛犬あんこさんスタンプ
                                    br
                                    span 120円
                            p.c-p 看板犬でもあるトイプードルのあんこさんでLINEスタンプを作りました！スタンプショップは上のバナーより飛ぶことができます。



                article.c-article
                    .c-article__image
                        img.u-hidden-sp(src="image/img_02_pc.jpg", alt="")
                        img.u-hidden-pc(src="image/img_02_sp.jpg", alt="")
                        p.c-article__image__catch ご来店心より
                            br.u-hidden-pc
                            |お待ちしております。


            include include/_footer.pug

        include include/_scripts.pug
        script(src=rootPath + "asset/js/" + (key) + ".js")
//- -------------------------------------------------------------------------------------------------
